<section class="us section wrapper">
  <h3 id="somos">QUIÉNES SOMOS</h3>
  <div>
    <!-- Corina -->
    <include
      src="./adalaber.html"
      id="corina"
      imgsrc="./assets/images/corina.jpeg"
      imgalt="Corina foto"
      name="Corina"
      description="Ciudadana europea. Bilingüe (RO-ES). Siempre estudiando. Curiosa y
    positiva. Me gusta viajar y disfrutar de las pequeñas cosas, como ver una
    serie con palomitas. La vida es incierta. Come primero el postre."
      twitterhref="https://twitter.com/tagalbastru"
      linkedinhref="https://www.linkedin.com/in/corina-mihaela-borcoci/"
      githubhref="https://github.com/corimb"
      mailhref="mailto:cborcoci@gmail.com"
    ></include>

    <!-- Elena -->
    <include
      src="./adalaber.html"
      id="elena"
      imgsrc="./assets/images/elena2.png"
      imgalt="Elena foto"
      name="Elena"
      description="Tengo ojo para el detalle y me encanta resolver problemas. Estudié
      relaciones internacionales, subí alguna que otra montaña y aprendí
      numerosos idiomas. Hoy estudio desarollo web para traducir ideas en
      innovadores productos. Amante de la ciencia ficción, la física, el
      origami y las ⛰⛰."
      twitterhref="#"
      linkedinhref="https://www.linkedin.com/in/elena-martínez-marín-7988061a1"
      githubhref="https://github.com/elemarmar"
      mailhref="mailto:elemartinezmarin@gmail.com"
    ></include>

    <!-- Mari Andre -->
    <include
      src="./adalaber.html"
      id="mariandre"
      imgsrc="./assets/images/mari-andre.png"
      imgalt="Mari Andre foto"
      name="Mari Andre"
      description="Crear es la mejor parte de mi día, no importa lo que sea, me encanta
    ser creativa. También amo la música y bailar. Creo que todo el mundo
    debería encontrar eso que realmente le apasione, incluso solo una vez
    en sus vidas, y para mi ahora, eso es programar."
      twitterhref="https://twitter.com/soymariandre"
      linkedinhref="https://www.linkedin.com/in/soymariandre"
      githubhref="https://github.com/soymariandre"
      mailhref="mailto:soymariandre@gmail.com"
    ></include>

    <!-- Mercedes -->
    <include
      src="./adalaber.html"
      id="mercedes"
      imgsrc="./assets/images/mercedes.jpg"
      imgalt="Mercedes foto"
      name="Mercedes"
      description="Formada como ingeniera topógrafa. Siempre buscando la forma de
      mejorar. Actualmente estoy explorando nuevas formas de reinventarme.
      Positiva y alegre, casi siempre; ¿quién no tiene un día de perros?.
      Familiar y trabajadora. Si una puerta se cierra otra se abre."
      twitterhref="https://twitter.com/mercarfr"
      linkedinhref="https://es.linkedin.com/in/mercedes-carballal-5339735b"
      githubhref="https://github.com/mercarf"
      mailhref="mailto:mcarballalfr@gmail.com"
    ></include>

    <!-- Sara -->
    <include
      src="./adalaber.html"
      id="sara"
      imgsrc="./assets/images/sara.jpg"
      imgalt="Sara foto"
      name="Sara"
      description="Desarrolladora front-end. Traductora e Intérprete (ES-EN-FR). Soy
      bastante inquieta y curiosa y por eso siempre quiero hacer muchas
      cosas a la vez. Me apasiona el mundo de la accesibilidad y los
      idiomas. Yogui en proceso. Friki de la cocina vegana y de los juegos
      de mesa colaborativos."
      twitterhref="https://twitter.com/Sara_and_code"
      linkedinhref="https://es.linkedin.com/in/sara-alite-villodre-10055918a"
      githubhref="https://github.com/saraalite"
      mailhref="mailto:saraalite@gmail.com"
    ></include>
  </div>
</section>
