<footer class="footer">
  <div class="wrapper section">
    <div class="container-footer">
      <span class="copy">
        Quinteto de $sudo &copy;2020
      </span>
      <nav>
        <ul class="menu-footer">
          <li>
            <a href="./index.html#equipo" title="Ir a Equipo">EQUIPO </a>
          </li>
          <li>
            <a href="./index.html#somos" title="Ir a Quiénes somos">QUIÉNES SOMOS </a>
          </li>
          <li>
            <a href="./contact.html" title="Ir a Contacto">CONTACTO </a>
          </li>
        </ul>
      </nav>
      <div class="container-logo">
        <a href="./index.html#header" title="Ir al principio de la web de Adalab">
          <img
            class="logo-adalab"
            src="./assets/images/logo-adalab.png"
            alt="Logo de Adalab"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
