<div>
    <h3>CONTACTO</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit eos, nisi quam voluptas obcaecati fuga, optio,
        doloribus quibusdam quia veritatis atque aut! Expedita, veritatis. Corrupti dicta ducimus sequi. Nemo, libero.
    </p>
    <small>Todos los campos marcados con <span>*</span> son obligatorios.</small>
</div>

<div>
    <form action="https://formspree.io/xqkybken" method="post">
        <div>
            <label for="fullname">Nombre completo <span>*</span>
                <input type="text" id="fullname" name="fullname" placeholder="Nombre">
            </label>
        </div>

        <div>
            <label for="emailAddress">Email
                <span>*</span>
                <input type="email" id="emailAddress" name="emailAddress" placeholder="nombre.apellidos@mail.com" />
            </label>

        </div>

        <div>
            <label for="telephone">Teléfono
                <input type="tel" id="telephone" name="telephone" />
            </label>
        </div>

        <div>
            <label for="comments">Mensaje: <span>*</span>
                <textarea id="comments" name="comments" rows="8" cols="50" placeholder="¿Qué necesitas?"></textarea>
            </label>
        </div>
        <div>
            <button type="submit" value="Enviar">Enviar</button>
        </div>




    </form>
</div>