<header class="header" id="header">
  <div class="wrapper">
    <div class="header-name">
      <a href="#" title="Quinteto de $sudo">Quinteto de $sudo</a>
    </div>
    <nav>
      <ul class="header-menu">
        <li>
          <a href="#equipo" title="Ir a Equipo">EQUIPO</a>
        </li>
        <li>
          <a href="#somos" title="Ir a Quiénes somos">QUIÉNES SOMOS</a>
        </li>
        <li>
          <a href="#contacto" title="Ir a Contacto">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
