    <!-- HERO -->
    <section class="hero">
      <div class="hero-wrapper">

        <!-- Slideshow -->

        <span id="target-item-1"></span>
        <span id="target-item-2"></span>
        <span id="target-item-3"></span>
        <span id="target-item-4"></span>
        <span id="target-item-5"></span>
        
        <!-- Slide 1 -->
        <div class="slideshow-container slide-1">
          <a href="#target-item-3"><img src="./assets/images/cabezas/corina-5.png" /></a>
          <a href="#target-item-2"><img src="./assets/images/cabezas/elena-4.png" /></a>
          <a href="#target-item-1"><img src="./assets/images/cabezas/mari-andre-3.png" /></a>
          <a href="#target-item-5"><img src="./assets/images/cabezas/mercedes-2.png" /></a>
          <a href="#target-item-4"><img src="./assets/images/cabezas/sara-1.png" /></a>
          <a class="arrow arrow-prev" href="#target-item-5"></a>
          <a class="arrow arrow-next" href="#target-item-2"></a>
        </div>

        <!-- Slide 2 -->
        <div class="slideshow-container slide-2">
          <a href="#target-item-4"><img src="./assets/images/cabezas/sara-5.png" /></a>
          <a href="#target-item-3"><img src="./assets/images/cabezas/corina-4.png" /></a>
          <a href="#target-item-2"><img src="./assets/images/cabezas/elena-3.png" /></a>
          <a href="#target-item-1"><img src="./assets/images/cabezas/mari-andre-2.png" /></a>
          <a href="#target-item-5"><img src="./assets/images/cabezas/mercedes-1.png" /></a>
          <a class="arrow arrow-prev" href="#target-item-1"></a>
          <a class="arrow arrow-next" href="#target-item-3"></a>
        </div>

        <!-- Slide 3 -->
        <div class="slideshow-container slide-3">
          <a href="#target-item-5"><img src="./assets/images/cabezas/mercedes-5.png" /></a>
          <a href="#target-item-4"><img src="./assets/images/cabezas/sara-4.png" /></a>
          <a href="#target-item-3"><img src="./assets/images/cabezas/corina-3.png" /></a>
          <a href="#target-item-2"><img src="./assets/images/cabezas/elena-2.png" /></a>
          <a href="#target-item-1"><img src="./assets/images/cabezas/mari-andre-1.png" /></a>
          <a class="arrow arrow-prev" href="#target-item-2"></a>
          <a class="arrow arrow-next" href="#target-item-4"></a>
        </div>

        <!-- Slide 4 -->
        <div class="slideshow-container slide-4">
          <a href="#target-item-1"><img src="./assets/images/cabezas/mari-andre-5.png" /></a>
          <a href="#target-item-5"><img src="./assets/images/cabezas/mercedes-4.png" /></a>
          <a href="#target-item-4"><img src="./assets/images/cabezas/sara-3.png" /></a>
          <a href="#target-item-3"><img src="./assets/images/cabezas/corina-2.png" /></a>
          <a href="#target-item-2"><img src="./assets/images/cabezas/elena-1.png" /></a>
          <a class="arrow arrow-prev" href="#target-item-3"></a>
          <a class="arrow arrow-next" href="#target-item-5"></a>
        </div>

        <!-- Slide 5 -->
        <div class="slideshow-container slide-5">
          <a href="#target-item-2"><img src="./assets/images/cabezas/elena-5.png" /></a>
          <a href="#target-item-1"><img src="./assets/images/cabezas/mari-andre-4.png" /></a>
          <a href="#target-item-5"><img src="./assets/images/cabezas/mercedes-3.png" /></a>
          <a href="#target-item-4"><img src="./assets/images/cabezas/sara-2.png" /></a>
          <a href="#target-item-3"><img src="./assets/images/cabezas/corina-1.png" /></a>
          <a class="arrow arrow-prev" href="#target-item-4"></a>
          <a class="arrow arrow-next" href="#target-item-6"></a>
        </div>

      
        <aside class="claim">
          Cinco cabezas programan mejor que una
        </aside>
      </div>
    </section>
