    <!-- HERO -->
    <section class="hero">
      <div class="hero-wrapper">
        <!-- Slideshow -->
        <div class="slideshow-container">
          <a href="#corina"><img src="./assets/images/cabezas/corina-5.png" /></a>
          <a href="#elena"><img src="./assets/images/cabezas/elena-4.png" /></a>
          <a href="#mariandre"><img src="./assets/images/cabezas/mari-andre-3.png" /></a>
          <a href="#mercedes"><img src="./assets/images/cabezas/mercedes-2.png" /></a>
          <a href="#sara"><img src="./assets/images/cabezas/sara-1.png" /></a>
        </div>
        <aside class="claim">
          Cinco cabezas programan mejor que una
        </aside>
      </div>
    </section>
