<!-- TEAM -->
<section class="team">
    <article class="section wrapper">
        <h3 class="team-title" id="equipo">EQUIPO</h3>
        <p>
            Somos un grupo de mujeres, reinventadas como programadoras
            front-end que han llegado a este mundo desde diversas ramas, por
            lo que presentamos perfiles muy variados y completos. Aprender es
            nuestra pasión, por eso decidimos cursar el bootcamp de Adalab.
            Nos hemos especializado en maquetación (HTML, CSS, Flexbox,
            Grid...) y nuestro lenguaje de programación de preferencia es
            Javascript. Somos las programadoras front-end junior que estás
            buscando.
        </p>
    </article>

    <div class="skills section">
        <div class="wrapper">
            <article>
                <h3>Fortalezas</h3>
                <p>
                    Somos todas muy distintas y eso nos ayuda a entender distintos
                    puntos de vista. Escuchamos e intentamos dar voz a las ideas
                    de cada persona. Somos trabajadoras, y nos apoyamos mucho
                    entre nosotras. Hacemos nuestro trabajo lo mejor que sabemos.
                    No nos da miedo reconocer nuestros errores porque ponemos
                    remedio para solucionarlos. Si quieres un equipo comprometido
                    con la causa, ¡esas somos nosotras!
                </p>
            </article>
            <article>
                <h3>Debilidades</h3>
                <p>
                    Lidiamos con la frustración y el miedo que conlleva no parar
                    de aprender. Seguimos descubriendo aún cómo gestionar la
                    organización de nuestro tiempo y nuestro trabajo, intentando
                    darnos descansos necesarios. Nos esforzamos por suplir la
                    deuda técnica de conocimientos que tenemos en algunos campos
                    con nuestro insaciable deseo de seguir aprendiendo y nuestra
                    curiosidad.
                </p>
            </article>
        </div>
    </div>
</section>