/* Footer */

.footer {
  border-top: solid 1px $background-light-color;
  background-color: $white;
}

footer .wrapper.section {
  padding-top: 30px;
}

.copy {
  display: inline-block;
  width: 172px;
  height: 20px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $text-light-color;
}

.container-logo {
  display: inline-block;
  width: 115.9px;
}

.menu-footer {
  padding: 0;
  list-style-type: none;
  padding: 20px 0 30px;
  margin: 0;
}

.menu-footer a {
  width: 114px;
  height: 60px;
  opacity: 0.75;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $text-dark-color;
}

.container-logo img {
  width: 100%;
}

@media all and (min-width: 768px) {
  /*** FOOTER ***/
  .container-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px 70px;
  }

  .copy {
    margin: 0px;
    padding: 0px;
  }

  .container-logo {
    margin-top: 15px;
  }

  .menu-footer {
    text-align: right;
    margin: 0;
    padding: 0;
  }

  .menu-footer a {
    width: 324px;
    height: 90px;
    line-height: 2.14;
    text-align: right;
  }

  .container-footer nav {
    grid-row: span 2;
  }
}

@media all and (min-width: 1200px) {
}

// @media all and (min-width: 768px) {
//   /*** FOOTER ***/
//   .container-footer {
//     position: relative;
//     text-align: left;
//   }

//   .copy {
//     text-align: left;
//   }

//   .container-logo {
//     margin-top: 15px;
//   }

//   .menu-footer {
//     position: absolute;
//     top: 0;
//     right: 0;
//     text-align: right;
//     margin: 0;
//     padding: 0;
//   }

//   .menu-footer a {
//     width: 324px;
//     height: 90px;
//     line-height: 2.14;
//     text-align: right;
//   }
// }

// @media all and (min-width: 1200px) {

// }
