.hero-wrapper {
    position: relative;
    height: 100%;
    max-width: 767px;
    margin: auto;

    @include desktop {
        max-width: 1300px;
    }
}

.hero {
    height: 421px;
    background-image: url(../images/code-background.png);
    background-repeat: repeat;
    background-size: 150%;
    background-attachment: fixed;
    position: relative;
    // Animation Scroll
    animation: scroll 60s linear 0s infinite reverse;
    position: relative;
    box-shadow: inset 0px 0px 94px 49px rgba(0,0,0,0.75);
    // filter: blur(0.5px);
}

// Scroll animation for the hero background
@keyframes scroll {
    from { background-position: 0 0;} 
    to { background-position: 0 -1000px;} 
}


// Slideshow
.slideshow-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-out;
    max-width: 1200px;
    margin: auto;

    img {
        width: 100px;
        margin: -30px;

        // transition: 0.5s transform;
        transition: margin-left 0.5s ease, margin-right 0.5s ease;
        filter: drop-shadow(16px 16px 10px black);
    
    
        @include tablet {
            width: 170px;
            margin: -35px;
        }
    
        @include desktop {
            width: 200px;
            margin: -40px;
        }
    
        &:hover {
            margin-left: -10px;
            margin-right: -10px;
            transform: scale(1.2);
            cursor: pointer;
            text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
        }
    }
}


/* Fix z-index of slideshow items */
.slideshow-container a:nth-of-type(3)   {
    position: relative;
    z-index: 50;
}
.slideshow-container a:nth-of-type(4)  {
    position: relative;
    z-index: 30;
}


// Slideshow arrows
.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 40px;
    opacity: 0.5;
    background-size: 10px;
    background-position: 10px 50%;
    height: 100%;
    background: url("http://haloxp.com/codepen/carousel-arrow-light.png") 50% 50% / 20px no-repeat;

    &.arrow-prev {
        left: 0;
    }

    &.arrow-next {
        right: 0;
        transform: rotate(180deg);
    }
}


/* Slideshow functionality: hiding slides and showing only 1 */
[id^="target-item"] {
    display: none;
}

.slide-1 {
    z-index: 2;
    opacity: 1;
}

*:target~.slide-1 {
    opacity: 0;
}

#target-item-1:target~.slide-1 {
    opacity: 1;
}

#target-item-2:target~.slide-2,
#target-item-3:target~.slide-3,
#target-item-4:target~.slide-4,
#target-item-5:target~.slide-5 {
    z-index: 3;
    opacity: 1;
}


.item {
    animation: spread 0.8s 1 ease 0.6s, fadein 0.8s 1 ease 0.5s;
    animation-fill-mode: both;
}

/* Fade-in animation */
@keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/* Spread faces animation */
@keyframes spread {
    from {margin-left: -10px; margin-right: -10px; transform: scale(0.8);}
    to { margin-left: 5px; margin-right: 5px; transform: scale(1);}
}

/* Claim */
.claim {
    width: 290px;
    height: 80px;
    margin: auto;
    padding: 15px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: $black;
    background-color: $white;
    text-align: center;
    vertical-align: middle;

    @media all and (min-width: 768px) {
        width: 441px;
        margin: 0;
        left: 46px;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        line-height: 60px;
        height: 60px;
        padding: 0;
        border-radius: 4px 4px 0 0;
    }

    @media all and (min-width: 1200px) {
        width: 550px;
        left: 138px;
        line-height: 70px;
        height: 70px;
    }
}