@import "core/variables";
@import "core/mixins";
@import "core/reset";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/hero";
@import "layout/team";
@import "layout/about-us";
@import "layout/footer";
@import "layout/contact";
@import "pages/index";

/* TESTS */
.zoom-in {
  overflow: hidden;
  border-radius: 4px;
}

.zoom-in img {
  transition: transform 1s ease;
}

.zoom-in:hover img {
  transform: scale(1.3);
}
